<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/modify}" th:object="${userModifyForm}" method="post">
  <label>ID : </label>
  <input type="text" th:field="*{id}" readonly="true">
  </div>
  <div>
    <label>변경할 비밀번호 : </label>
    <input type="password" th:field="*{afterPassword}">
  </div>
  <div>
    <label>닉네임 : </label>
    <input type="text" th:field="*{nickname}">
  </div>
  <button type="submit">수정</button>
</form>
</body>
</html>