<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="product : ${productView}">
    <h1 th:text="${product.name}"></h1>
    <img th:src="@{|/img/${product.imageFileName}|}">
    <div th:text="${product.price}"></div>
    <div th:text="${product.description}"></div>
    <a th:href="@{|/cart/${product.pno}|}">장바구니등록</a>
</div>
    <!--<a th:href="@{/product/buy}">구매하기</a>-->
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>

</body>
</html>